<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-auto">
    <div class="col-md-6">
        <h3>Ready to review?</h3>

        <form class="form new-review-form">
            <div class="form-title">
                <label for="review-title">Review Title:</label>
                <input class="form-input" type="text" id="form-title" review-title="{{id}}"/>
            </div>
            <div class="form-review">
                <label for="review">Please input your review:</label>
                <input class="form-input review-desc" type="text" id="form-review" />
            </div>
            <div class="post-review">
                <button type="submit" class="btn btn-primary">Post Review</button>
            </div>
        </form>
    </div>

    {{#if reviews.length}}
    <div class="col-md-6 review-list">
        <h3>Your Reviews:</h3>

        {{#each reviews as |review|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/review/{{review.id}}">
                {{review.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{review.id}}" id="review-list">DELETE REVIEW</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/js/profile.js"></script>